{% extends 'layouts/base_layout.html' %} 
{% load static %}
{% block header %} Python Project Shop {% endblock %}
{% block body %}
    <div class="slider__container slider--one bg__cat--3">
        <div class="slide__container slider__activation__wrap owl-carousel">
            <!-- Start Single Slide -->
            <div class="single__slide animation__style01 slider__fixed--height">
                <div class="container">
                    <div class="row align-items__center">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                            <div class="slide">
                                <div class="slider__inner">
                                    <h2>Get ready for</h2>
                                    <h1>Black Friday</h1>
                                    <div class="cr__btn">
                                        <a href="cart.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                            <div class="slide">
                                <img src="{% static 'images/slider/bfriday.webp' %}" alt="slider images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide -->
            <!-- Start Single Slide -->
            <div class="single__slide animation__style01 slider__fixed--height">
                <div class="container">
                    <div class="row align-items__center">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                            <div class="slide">
                                <div class="slider__inner">
                                    <h2>collection 2018</h2>
                                    <h1>NICE CHAIR</h1>
                                    <div class="cr__btn">
                                        <a href="cart.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                            <div class="slide__thumb">
                                <img src="images/slider/fornt-img/2.png" alt="slider images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide -->
        </div>
    </div>
    <!-- Start Slider Area -->
    <!-- Start Category Area -->
    <section class="htc__category__area ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title--2 text-center">
                        <h2 class="title__line">New Arrivals</h2>
                        <p>But I must explain to you how all this mistaken idea</p>
                    </div>
                </div>
            </div>
            <div class="htc__product__container">
                <div class="row">
                    <div class="product__list clearfix mt--30">
                        <!-- Start Single Category -->
                        {% for prod in products %}
                        <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="{% url 'product_detail' prod.slug %}">
                                        <img src="{{prod.url}}" alt="product images">
                                    </a>
                                </div>
                                <div class="fr__hover__info">
                                    <ul class="product__action">
                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                        <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                    </ul>
                                </div>
                                <div class="fr__product__inner">
                                    <h4><a href="{% url 'product_detail' prod.slug %}">{{prod.name}}</a></h4>
                                    <ul class="fr__pro__prize">
                                        <li class="old__prize">${{prod.price|floatformat:2}}</li>
                                        <li>${{prod.special_price|floatformat:2}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End Single Category -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Category Area -->
    <!-- Start Testimonial Area -->
    <section class="htc__testimonial__area bg__cat--4">
        <div class="container">
            <div class="row">
                <div class="ht__testimonial__activation clearfix">
                    <!-- Start Single Testimonial -->
                    <div class="col-lg-6 col-md-6 single__tes">
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="https://www.timexpress.ae/wp-content/uploads/2016/11/circle-man.png" alt="testimonial images">
                            </div>
                            <div class="testimonial__details">
                                <h4><a href="#">Mr.Mike Band</a></h4>
                                <p>Amazing shop with great prices. Really easy to use and buy. </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                    <!-- Start Single Testimonial -->
                    <div class="col-lg-6 col-md-6 single__tes">
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="https://daringdivasdirectory.com/wp-content/uploads/2016/04/Megan-Walrod-INNER-CIRCLE-Testimonial-300x300.png" alt="testimonial images">
                            </div>
                            <div class="testimonial__details">
                                <h4><a href="#">Ms.Lucy Barton</a></h4>
                                <p>All time ready for a last minute shopping before any celebrations. Always on time with delivery. </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                    <!-- Start Single Testimonial -->
                    <div class="col-lg-6 col-md-6 single__tes">
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="https://daringdivasdirectory.com/wp-content/uploads/2016/04/Megan-Walrod-INNER-CIRCLE-Testimonial-300x300.png" alt="testimonial images">
                            </div>
                            <div class="testimonial__details">
                                <h4><a href="#">Ms.Lucy Barton</a></h4>
                                <p>I’m up to something. Stay focused. The weather is amazing, walk with me through the pathway of more success. </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                    <!-- Start Single Testimonial -->
                    <div class="col-lg-6 col-md-6 single__tes">
                        <div class="testimonial">
                            <div class="testimonial__thumb">
                                <img src="https://daringdivasdirectory.com/wp-content/uploads/2016/04/Megan-Walrod-INNER-CIRCLE-Testimonial-300x300.png" alt="testimonial images">
                            </div>
                            <div class="testimonial__details">
                                <h4><a href="#">Ms.Lucy Barton</a></h4>
                                <p>I’m up to something. Stay focused. The weather is amazing, walk with me through the pathway of more success. </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Area -->
    <!-- Start Blog Area -->
    <section class="htc__blog__area bg__white ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title--2 text-center">
                        <h2 class="title__line">Our Blog</h2>
                        <p>But I must explain to you how all this mistaken idea</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ht__blog__wrap clearfix">
                    <!-- Start Single Blog -->
                    <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                        <div class="blog">
                            <div class="blog__thumb">
                                <a href="blog-details.html">
                                    <img src="{% static 'images/blog/blog-img/1.jpg' %}" alt="blog images">
                                </a>
                            </div>
                            <div class="blog__details">
                                <div class="bl__date">
                                    <span>March 22, 2016</span>
                                </div>
                                <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, consec tetur adipisicing elit</a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <div class="blog__btn">
                                    <a href="blog-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                    <!-- Start Single Blog -->
                    <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                        <div class="blog">
                            <div class="blog__thumb">
                                <a href="blog-details.html">
                                    <img src="{% static 'images/blog/blog-img/2.jpg' %}" alt="blog images">
                                </a>
                            </div>
                            <div class="blog__details">
                                <div class="bl__date">
                                    <span>May 22, 2017</span>
                                </div>
                                <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, consec tetur adipisicing elit</a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <div class="blog__btn">
                                    <a href="blog-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                    <!-- Start Single Blog -->
                    <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                        <div class="blog">
                            <div class="blog__thumb">
                                <a href="blog-details.html">
                                    <img src="{% static 'images/blog/blog-img/3.jpg' %}" alt="blog images">
                                </a>
                            </div>
                            <div class="blog__details">
                                <div class="bl__date">
                                    <span>March 22, 2018</span>
                                </div>
                                <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, consec tetur adipisicing elit</a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <div class="blog__btn">
                                    <a href="blog-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
    <!-- End Banner Area -->
{% endblock %}